.TechnoCompetenceCard, .LangageCompetenceCard {
    background-color: var(--cv-card-color);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: clamp(10px, 4vw, 10px);
}

.TechnoLangageCompetence img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin-top: 25px;
}

.TechnoLangageCompetence {
    display: inline-block;
    align-items: center;
    gap: var(--spacing-sm);
    transition: transform var(--transition-fast);
    padding: clamp(10px, 4vw, 15px);
}

.TechnoLangageNom {
    font-family: var(--font-alt), sans-serif;
    font-size: calc(var(--nav-font-size) * 0.7);
    text-align: center;
    margin: 0;
}
