.experiences {
    background-color: var(--cv-card-color);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    gap: 0;
}

.ExpCard {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
    margin: 0;
    padding: 0;
    gap: 0;
}

.DivExpTitre {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 0;
}

.ExpTitre {
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--cv-title-font-size);
    color: var(--cv-title-color);
    margin: 0;
    padding: 0;
    gap: 0;
}

.DivExpDesc {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0;
}

.ExpDesc {
    font-size: var(--cv-h2-font-size);
    font-family: var(--font-secondary), sans-serif;
    margin: 0;
    padding: 0;
    gap: 0;
}

.ExpDateD, .ExpDateF, .ExpDateA {
    text-wrap: no-wrap;
    font-family: var(--font-alt), sans-serif;
    font-size: var(--cv-font-size-date);
    opacity: 0.7;
    margin: 0;
    padding: 0;
    gap: 0;
}

.ExpCompetence {
    background-color: var(--grid-color);
    color: var(--competence-color);
    font-family: var(--font-secondary), sans-serif;
    border-radius: calc(var(--border-radius) / 2);
    font-size: calc(var(--nav-font-size) * 0.7);
    margin: 0;
    padding: 0;
    gap: 0;
}
