.container {  display: grid;
    margin-top: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.7fr 1.8fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
    ". LangageCompetenceCard LangageCompetenceCard TechnoCompetenceCard TechnoCompetenceCard ."
    ". experiences experiences HardSkillsCard HardSkillsCard ."
    ". experiences experiences HardSkillsCard HardSkillsCard ."
    ". experiences experiences EtudesCard EtudesCard ."
    ". experiences experiences EtudesCard EtudesCard ."
    ". FormationCard FormationCard FormationCard FormationCard ."
    ". DiversCard DiversCard CentreInteretCard CentreInteretCard .";
}

.LangageCompetenceCard {grid-area: LangageCompetenceCard}

.TechnoCompetenceCard { grid-area: TechnoCompetenceCard; }

.experiences { grid-area: experiences; }

.HardSkillsCard { grid-area: HardSkillsCard; }

.EtudesCard { grid-area: EtudesCard; }

.FormationCard { grid-area: FormationCard; }

.DiversCard { grid-area: DiversCard; }

.CentreInteretCard { grid-area: CentreInteretCard; }


.LangageCompetenceCard, .TechnoCompetenceCard, .experiences,
.HardSkillsCard, .EtudesCard, .FormationCard, .DiversCard, .CentreInteretCard {

}



.CvTitre {
    font-family: var(--font-primary), sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--border-color);
    letter-spacing: 1px;
}

.CvTitreDiv {
    border-bottom: 5px solid var(--border-color);
}

