.HeaderLink {
    display: flex;
    gap: clamp(0.75rem, 2vw, 1.25rem);
}

.header-link-porfolio, .header-link-cv {
    text-decoration: none;
    font-family: var(--font-secondary), sans-serif;
    color: var(--link-color-header);
    font-size: clamp(0.625rem, 4vw, 1.875rem);
}