.LangageCompetence img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.LangageCompetenceCard {
    background-color: var(--cv-card-color);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: clamp(10px, 4vw, 10px);
}

.LangageCompetence {
    display: inline-block;
    align-items: center;
    gap: var(--spacing-sm);
    transition: transform var(--transition-fast);
    padding: clamp(10px, 4vw, 15px);
}

.LangageNom {
    font-family: var(--font-secondary) sans-serif;
    font-size: calc(var(--nav-font-size) * 0.7);
    color: var(--text-color);
    text-align: center;
    margin: 0;
}

/*
.LangageCompetenceCard {
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--spacing-lg);
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
}

.LangageCompetenceCard::-webkit-scrollbar {
    width: 8px;
}

.LangageCompetenceCard::-webkit-scrollbar-track {
    background: transparent;
}

.LangageCompetenceCard::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
    opacity: 0.5;
}

.LangageCompetenceCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: var(--spacing-md);
    justify-items: center;
}

.LangageCompetence {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    transition: transform var(--transition-fast);
}

.LangageCompetence img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.LangageCompetence:hover {
    transform: scale(1.05);
}

.LangageNom {
    font-family: var(--font-secondary) sans-serif;
    font-size: calc(var(--nav-font-size) * 0.7);
    color: var(--text-color);
    text-align: center;
    margin: 0;
}


 */
/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .LangageCompetenceCard {
        max-height: 70vh;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }

    .LangageCompetence img {
        width: 48px;
        height: 48px;
    }

    .LangageNom {
        font-size: calc(var(--nav-font-size) * 0.6);
    }
}

@media screen and (max-width: 480px) {
    .LangageCompetenceCard {
        max-height: 80vh;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    }

    .LangageCompetence img {
        width: 40px;
        height: 40px;
    }
}