.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: var(--header-height);
    padding: 0 clamp(10px, 3vw, 30px);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}










