.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 clamp(0.625rem, 3vw, 1.875rem);
    position: sticky;
    z-index: 1000;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}