.ExperienceAdminContainer {
    padding: 20px;
}

.AddExperienceForm input {
    margin-right: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.AddExperienceForm button {
    padding: 5px 10px;
    margin-bottom: 20px;
}

.ExperienceTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ExperienceTable th, .ExperienceTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.ExperienceTable th {
    background-color: #f2f2f2;
}

.ExperienceTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.ExperienceTable tr:hover {
    background-color: #f1f1f1;
}


.DeleteButton {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.DeleteButton:hover {
    background-color: #c0392b;
}
