.formation {
    background-color: var(--cv-card-color);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.FormationCard {
    gap: 0.9375rem;
    padding: 0.625rem;
}

.DescFormation {
    font-size: var(--cv-h2-font-size);
    font-family: var(--font-secondary), sans-serif;
    padding: 0.4rem;
}

/*
.FormationCard {
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--spacing-lg);
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
}

.FormationCard::-webkit-scrollbar {
    width: 8px;
}

.FormationCard::-webkit-scrollbar-track {
    background: transparent;
}

.FormationCard::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
    opacity: 0.5;
}

.formationDiv {
    display: flex;
    align-items: center;
    padding: var(--spacing-sm) 0;
    border-bottom: 1px solid var(--border-color);
    transition: background-color var(--transition-fast);
}

.formationDiv:last-child {
    border-bottom: none;
}

.formationDiv:hover {
    background-color: rgba(236, 54, 30, 0.05);
}

.formation {
    font-family: var(--font-secondary);
    font-size: calc(var(--nav-font-size) * 0.8);
    color: var(--text-color);
    margin: 0;
    width: 100%;
    text-align: left;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {

    .formation {
        font-size: calc(var(--nav-font-size) * 0.7);
    }
}

@media screen and (max-width: 480px) {

}