.HeaderTitle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-link-title {
    white-space: nowrap;
    text-decoration: none;
    font-family: var(--font-primary), sans-serif;
    color: var(--title-color-header);
    font-size: clamp(1.875rem, 2vw, 2.5rem);
}