.harskill {
    background-color: var(--cv-card-color);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.HardSkillsCard {
    gap: 0.9375rem;
    padding: 0.625rem;
}

.Hd {
    background-color: var(--grid-color);
    color: var(--competence-color);
    font-family: var(--font-secondary), sans-serif;
    border-radius: calc(var(--border-radius) / 2);
    font-size: clamp(0.5rem, 2vw, 1rem);
    padding: 0.4rem;
    margin: 0.9375rem 0;
}
